@using StackExchange.Profiling;
@using StackExchange.Profiling.Mvc
@{
    var profiler = MiniProfiler.Current;
    
    // allows us to test out starting a profiler hidden - use ALT + P to toggle display of results
    var startHidden = !string.IsNullOrEmpty(Request.QueryString["startHidden"]);
}
<!DOCTYPE html>
<html>
<head>
    @this.InitClientTimings()
    @this.TimeScript("jQuery 3.1.1", @<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>)

@using (profiler.Step("<head> rendering"))
{ 
    <title>@ViewBag.Title - MVC MiniProfiler Demo</title>
    @(this.TimeScript("Our CSS", @<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />))
    @RenderSection("head", required:false)
}
</head>
<body>
    <div class="page">
        <div id="header">
            <div id="title">
                <h1>MVC MiniProfiler Demo</h1>
            </div>
            <div id="logindisplay">
                &nbsp;
            </div>
            <div id="menucontainer">
                <ul id="menu">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Results Authorization", "ResultsAuthorization", "Home")</li>
                    <li>@Html.ActionLink("Bottom Left", "BottomLeft", "Home")</li>
                    <li>@Html.ActionLink("Bottom Right", "BottomRight", "Home")</li>
                </ul>
            </div>
        </div>
        <div id="main">
            @RenderBody()
        </div>
        <div id="footer">
        </div>
    </div>

    @* renders our UI's css and javascript - best put it in the bottom so it does not effect perf *@
    @if (ViewBag.Orientation != null)
    {
        var position = (RenderPosition)ViewBag.Orientation;
        @MiniProfiler.Current.RenderIncludes(position: position, showTrivial: false, showTimeWithChildren: false, startHidden: startHidden)
    }
    else
    {
        @MiniProfiler.Current.RenderIncludes(position: RenderPosition.Right, showTrivial: false, showTimeWithChildren: false, startHidden: startHidden)
    }
</body>
</html>
