@using StackExchange.Profiling;
@{
    var profiler = MiniProfiler.Current;
}
<!DOCTYPE html>
<html>
<head>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

@using (profiler.Step("<head> rendering"))
{ 
    <title>@ViewBag.Title - MVC MiniProfiler Demo</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />    
}
</head>
<body>
    <div class="page">
        <div id="header">
            <div id="title">
                <h1>MVC MiniProfiler Demo</h1>
            </div>
            <div id="logindisplay">
                @Html.Partial("_LogOnPartial")
            </div>
            <div id="menucontainer">
                <ul id="menu">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Results Authorization", "ResultsAuthorization", "Home")</li>
                    <li>@Html.ActionLink("WCF Sample", "Index", "WcfSample")</li>
                </ul>
            </div>
        </div>
        <div id="main">
            @RenderBody()
        </div>
        <div id="footer">
        </div>
    </div>

    @* renders our UI's css and javascript - best put it in the bottom so it does not effect perf *@
    @MiniProfiler.RenderIncludes(position: RenderPosition.Left, showTrivial: false, showTimeWithChildren: false)

</body>
</html>
